<div class="main-right-header">
    <div class="menu-bar"> 
        <div class="sub-header">
        <h5 class="dashboard">Dashboard/Employees</h5>
        <h5 class="header-employee">Employees</h5>
        </div>
    </div>
  
      <div class="google">
          <input type="search" id="site-search" placeholder="Search">
          <i class="fa fa-sharp fa-light fa-magnifying-glass"></i>
      </div>
      <br clear="all">  
  </div>