<div class="main-left">
<div class="main-left-header">
    <h4 class="font-default">Employee</h4>
    <h4 class="font-change">Management</h4>
</div>
<div class="list">
    <ul>
        <li> <i class="fa-sharp fa-solid fa-house-chimney"></i>Dashboard</li>
        <li > <i class="fa-sharp fa-solid fa-chart-simple"></i>Employees</li>
        <li> <i class="fa-sharp fa-solid fa-user"></i>My Profile</li>
        <li> <i class="fa-sharp fa-solid fa-lock"></i>Log out</li>

    </ul>
</div>
<div class="left-footer">
    <h4>powered by</h4>
</div>
</div>